:host {
  display: block;
}

::ng-deep {
  .monaco-editor {
    .margin {
      background-color: transparent !important;
    }
  }
}

.btn {
  svg {
    transition: transform 0.2s ease-in-out;
  }
  
  &:hover svg {
    transform: scale(1.1);
  }
}
